// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@tailwind base;

@tailwind components;

@tailwind utilities;

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@-webkit-keyframes load {
    0% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
    50% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    100% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
}

@keyframes load {
    0% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
    50% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    100% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
}

html {
    font-family: $font-family-sans-serif;
}

body {
    color: $grey;
    background-color: $main-bck;
}

.app-logo {
    //background: $main-dark;
    min-height: 70px;

    img {
        max-height: 50px;
    }
}

.nav-main {
    min-height: 70px;
    color: #fff;
}

.sidebar-main {
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}

.card {
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    margin-bottom: 24px;
    position: relative;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f6f6f6;
    border-radius: .25rem;
    padding: 1.25rem;
}



