// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    color: $grey;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

//.loader {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    -webkit-transform: translate(-50%, -50%);
//    transform: translate(-50%, -50%);
//    width: 50px;
//    height: 10px;
//    background: #03B7DC;
//    border-radius: 5px;
//    -webkit-animation: load 1.8s ease-in-out infinite;
//    animation: load 1.8s ease-in-out infinite;
//}
//.loader:before, .loader:after {
//    position: absolute;
//    display: block;
//    content: "";
//    -webkit-animation: load 1.8s ease-in-out infinite;
//    animation: load 1.8s ease-in-out infinite;
//    height: 10px;
//    border-radius: 5px;
//}
//.loader:before {
//    top: -20px;
//    left: 10px;
//    width: 40px;
//    background: #EE3F23;
//}
//.loader:after {
//    bottom: -20px;
//    width: 35px;
//    background: #EDEDED;
//}

@-webkit-keyframes load {
    0% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
    50% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    100% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
}

@keyframes load {
    0% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
    50% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    100% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
}
